@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, p {
  background-color: #9acd32;
  padding: 10px;
}

label {
  background-color: #9acd32;
  padding: 10px 5px;
}

input {
  color: #000;
}
